{{define "menu"}}
            <div id="menu">
                <ul id="ul-nav">
                    <li><a id="li-a-nav" href="#">Главная</a></li>
                    <li><a id="li-a-nav" href="/articles/0">Блог</a></li>
                    <li><a id="li-a-nav" href="#">Контакты</a></li>
                    <li><a id="li-a-nav" href="#">О сайте</a></li>
                    <li><a id="li-a-nav" href="/articles/create/">Написать статью</a></li>
                </ul>
                <br>
                <div id="login-logout"><a href="/login">Login</a> | <a href="/register">Register</a></div>
            </div>
{{end}}